:root {
  /*색*/
  --gray: rgb(114, 117, 117);

  /*투명도*/
  --opacity: 0.6;

  /*크기*/
  --margin: 24px;
  --padding: 12px;

  /*글자크기*/
  --micro: 12px;
  --small: 15px;
  --medium: 20px;
  --large: 24px;
}

/*이름 구역*/
#savedPeopleContainer {
  grid-column-start: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  margin:  calc(var(--margin) / 2) calc(var(--margin) / 2); 
  height: 50px;
}

/*이름 리스트*/
.savedPeopleNameList {
  position: sticky;
  top: 500px;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
}
.savedPeopleNameList span {
  border-radius: 50%;
  margin-right: calc(var(--margin) / 2);
}

/*일정 구역*/
.personScheduleContainer {
  padding-left: var(--padding);
}

/*일정 주인*/
#clickedPerson {
  margin: calc(var(--margin) / 2) 0;
}

/*일정 리스트*/
#clickedPersonSchedule {
  margin: 0;
  list-style: none;
  padding: 0;
}
#removeBtn {
  padding-left: var(--padding);
}
